.btn {
  width: 44px;
  height: 44px;
  border: 0;
  padding: 0;
  cursor: pointer;
  background: transparent;
}

.img {
  width: 25px;
  height: 25px;
  background: transparent;
  opacity: .6;
}

.closeIcon {
  width: 44px;
  height: 44px;
  border: 0;
  padding: 0;
  cursor: pointer;
  transition: .2s;
  background: transparent;
  position: absolute;
  top: -40px;
  right: -40px;
}

.closeIcon:hover {
  opacity: .8;
}