@import url("./vendor/normalize.css");

body {
  margin: 0;
  background-color: #f0f2f5;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica', 'Arial', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

::-webkit-scrollbar-track {
  background-color: rgb(0,0,0,.2);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: rgb(0,0,0,.2);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0,0,0,.2);
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}